<!-- Add form for User -->
<div *ngIf="isadd" class="card shadow-sm">
  <section
    class="main mt-3 d-flex justify-content-center aligh-item-center transtion"
  >
    <form class="form-group" [formGroup]="userForm" (ngSubmit)="addUser()">
      <button
        type="button"
        class="close transtion note note-info"
        aria-label="Close"
        (click)="closeForm()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="note note-primary text-center">Add User</p>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control transtion"
            placeholder="Name"
            formControlName="name"
            name="name"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control transtion"
            placeholder="Email"
            formControlName="email"
            name="email"
          />
        </div>
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary btn-block fancy"
          [disabled]="!userForm.valid"
        >
          <i class="fa fa-paper-plane fa-1x"></i> save
        </button>
      </div>
    </form>
  </section>
</div>

<!-- Edit form for User -->
<div *ngIf="isedit" class="card shadow-sm">
  <section
    class="main mt-3 d-flex justify-content-center aligh-item-center transtion"
  >
    <form class="form-group" [formGroup]="userForm" (ngSubmit)="updateUser()">
      <button
        type="button"
        class="close note note-info"
        aria-label="Close"
        (click)="closeForm()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="note note-info text-center">Edit User</p>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control transtion"
            placeholder="Name"
            formControlName="name"
            name="name"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control transtion"
            placeholder="Email"
            formControlName="email"
            name="email"
          />
        </div>
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary btn-block fancy transtion"
          [disabled]="!userForm.valid"
        >
          <i class="fa fa-paper-plane fa-1x"></i> Update
        </button>
      </div>
    </form>
  </section>
</div>

<main class="intro">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card shadow-6-strong border">
          <div class="card-body p-0">
            <!-- Add Message -->
            <div
              class="alert alert-success alert-dismissible fade show transtion"
              role="alert"
              *ngIf="isSuccess"
              [@fadeInOut]
            >
              <strong>Success!</strong> User added successfully.
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
                (click)="isSuccess = false"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- Delete Message -->
            <div
              class="alert alert-danger alert-dismissible fade show transtion"
              role="alert"
              *ngIf="isDelete"
            >
              <strong>Success!</strong> User deleted successfully.
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
                (click)="isDelete = false"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <!-- Update Message -->
            <div
              class="alert alert-info alert-dismissible fade show transtion"
              role="alert"
              *ngIf="isUpdated"
            >
              <strong>Success!</strong> User updated successfully.
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
                (click)="isUpdated = false"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <!-- Button trigger modal -->
            <button
              class="btn btn-primary float-right mr-1 transtion"
              (click)="openAddForm()"
            >
              <i class="fa fa-plus-circle fa-1x"></i> add user
            </button>
            <div
              class="table-responsive table-scroll"
              data-mdb-perfect-scrollbar="true"
            >
              <table class="table table-light mb-0 table-striped">
                <thead>
                  <tr
                    class="text-lowercase text-dark font-weight-bold transtion"
                  >
                    <th scope="col">#SN</th>
                    <th scope="col">NAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="users.users.length === 0">
                    <td colspan="4" class="text-center">No data found . . .</td>
                  </tr>
                  <tr
                    class="text-lowercase text-light transtion"
                    *ngFor="let user of users.users; let i = index"
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-primary btn-floating btn-rounded transtion"
                        (click)="showEditForm(user)"
                      >
                        <i class="fa fa-edit"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger btn-floating btn-rounded transtion"
                        (click)="deleteUser(user.id)"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
