html,
body,
.intro {
  height: 100%;
  margin-top: 5rem !important;
  background-color: #ffffff;
}

table td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black
}

.card {
  // border-radius: 0.5rem;
  box-shadow: 0 10.5rem 11rem rgba(0, 0, 0, 0.692);
  overflow: hidden;
  background-color: white;
}

.table-scroll {
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


thead {
  top: 0;
  position: sticky;
}


.btn:hover{
  transform: scale(1.3);
  transition: all .2s ease-in-out;
}


h3{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.input {
  width: 100%;
  padding: 10px;
}

.submit-button {
  width: 500px;
  padding: 10px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-container ul {
  list-style: none;
  padding: 0;
}
.todo-container ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  max-width: 250px;
}

.todo-name {
  font-size: 18px;
  font-weight: bold;
}

.todo-description {
  max-width: 70%;
  font-size: 14px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
}