<!-- Add form for User -->
<div *ngIf="isadd"  class="card shadow-sm">
  <section class="main mt-3 d-flex justify-content-center aligh-item-center">
    <form class="form-group" [formGroup]="userForm" (ngSubmit)="addUser()">
      <p class="note note-success text-center">Add User</p>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            formControlName="name"
            name="name"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            name="email"
          />
        </div>
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="!userForm.valid"
        >
          <i class="fa fa-paper-plane fa-1x"></i> save
        </button>
      </div>
    </form>
  </section>
</div>

<!-- Edit form for User -->
<div *ngIf="isedit" class="card shadow-sm">
  <section class="main mt-3 d-flex justify-content-center aligh-item-center">
    <form class="form-group " [formGroup]="userForm" (ngSubmit)="updateUser()">
      <p class="note note-info text-center">Edit User</p>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            formControlName="name"
            name="name"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            name="email"
          />
        </div>
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="!userForm.valid"
        >
          <i class="fa fa-paper-plane fa-1x"></i> Update
        </button>
      </div>
    </form>
  </section>
</div>

<main class="intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="card shadow-2-strong">
          <div class="card-body p-0">
            <!-- Button trigger modal -->
            <button
              class="btn btn-primary float-right mr-4 mt-1"
              (click)="openAddForm()"
            >
              <i class="fa fa-plus-circle fa-1x"></i> add user
            </button>
            <div
              class="table-responsive table-scroll"
              data-mdb-perfect-scrollbar="true"
            >
              <table class="table table-light mb-0 table-striped">
                <thead>
                  <tr class="text-uppercase text-dark font-weight-bold">
                    <th scope="col">#SN</th>
                    <th scope="col">NAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="text-uppercase text-light"
                    *ngFor="let user of users.users; let i = index"
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-primary btn-floating btn-rounded"
                        (click)="showEditForm(user)"
                      >
                        <i class="fa fa-edit"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger btn-floating btn-rounded"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>