html,
body,
.intro {
  height: 100%;
  margin-top: 5rem !important;
  background-color: #ffffff;
}

table td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black
}

.card {
  // border-radius: 0.5rem;
  box-shadow: 0 10.5rem 11rem rgba(0, 0, 0, 0.692);
  overflow: hidden;
  background-color: white;
}

.table-scroll {
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


thead {
  top: 0;
  position: sticky;
}


.btn:hover{
  transform: scale(1.3);
  transition: all .2s ease-in-out;
}


h3{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}